apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: urlshortener 
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "5000" 
    spec:
      containers:
      - name: backend
        image: sharonba/url-shortener-frontend:latest
        ports:
        - containerPort: 5000
        resources:
          limits:
            cpu: "1"
            memory: "512Mi"
          requests:
            cpu: "500m"
            memory: "256Mi"
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: database-secret
        # livenessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: 5000
        #   initialDelaySeconds: 10
        #   periodSeconds: 15
        # readinessProbe:
        #   httpGet:
        #     path: /ready
        #     port: 5000
        #   initialDelaySeconds: 10
        #   periodSeconds: 15
