apiVersion: v1
kind: Service
metadata:
  name: database-headless-service
  namespace: urlshortener 
  labels:
    app: database
spec:
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
  selector:
    app: database
  clusterIP: None