apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: urlshortener
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s 
      evaluation_interval: 10s

    rule_files:
      - /etc/prometheus/alert_rules.yml

    scrape_configs:
      - job_name: 'kube-state-metrics'
        static_configs:
          - targets: ['kube-state-metrics.kube-system.svc.cluster.local:8080']

      - job_name: 'kubernetes-nodes-cadvisor'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor    

      - job_name: 'kubernetes-nodes'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true # Kubelet certs are usually self-signed
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor

      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'kubernetes-apiservers'
        kubernetes_sd_configs:
          - role: endpoints
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            regex: default;kubernetes;https
            action: keep

      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__address__]
            action: drop
            regex: '.*:(0|255)$|.*\.0:.*|.*\.255:.*'

          - source_labels: [__meta_kubernetes_pod_phase]
            action: keep
            regex: Running

          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true

          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace

          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod

          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__

          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)

  # Alerts
  alert_rules.yml: |
    groups:
    - name: url_shortener_alerts
      rules:
      
      - alert: HighCpuUsage
        expr: sum(rate(container_cpu_usage_seconds_total{namespace="urlshortener", pod=~"backend-.*"}[1m])) by (pod) > 0.5
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "High CPU usage on pod {{ $labels.pod }}"

      - alert: PodRestartDetected
        expr: sum(changes(kube_pod_container_status_restarts_total{pod=~"backend-.*"}[1m])) by (pod) > 0
        for: 0m
        labels:
          severity: critical
        annotations:
          summary: "Pod {{ $labels.pod }} restarted!"

      - alert: HighApiErrorRate
        expr: (sum(rate(http_requests_total{http_status=~"5.."}[5m])) / sum(rate(http_requests_total[1m]))) > 0.05
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "High error rate detected: {{ $value | humanizePercentage }}"

      - alert: DatabaseConnectionFailing
        expr: db_connections_active > 18 
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Database connection pool near exhaustion on {{ $labels.pod }}"